@import "colors";

@rights-color: @danger-color;
@choices-color: @main-accent;
@uses-color: #bb911e;
@responsibilities-color: #31b543;

.ppn {
  h1:extend(.lead),
  h2:extend(.lead) {}

  a {
    cursor: pointer;
  }


  [data-role=agreement] {
    margin-bottom: 50px;
  }

  [data-role=sign-agreement]:extend(.btn, .btn-success, .btn-lg, .btn-block) {
    &[disabled] {
      cursor: not-allowed;
      color: red;
      background-color: darkgray;
    }
  }

  [data-role=page-header] {
    border-bottom: 1px solid @left-navigation-separator-color;
    .make-row(0);
    [data-role=company] {
      .make-xs-column(12);
      .make-sm-column(8);
      @media print {
        .make-xs-column(6);
      }
    }
    [data-role=contact] {
      .make-xs-column(12);
      .make-sm-column(4);
      @media print {
        .make-xs-column(6);
      }
    }
  }
  .notice-body {
    padding-top: 10px;
    [data-role=section-header] {
      .make-row(0);
      h1 {
        padding-top: 0;
        margin-top: 0;
        .make-xs-column(12);
        .make-sm-column(6);
        span {
          display: block;
        }
        font-size: 1.8em;

        @media print {
          .make-xs-column(6);
        }
      }
      section {
        .make-xs-column(12);
        .make-sm-column(6);
        @media print {
          .make-xs-column(6);
        }
      }
    }




    [data-role=section-body] {
      @media (min-width: @screen-sm-min) {
        .lead {
          font-size: 16px;
        }
      }

      ul.main-nav {
        .nav;
        .nav-pills;
        .nav-justified;
        @media (max-width: @screen-xs-max) {
          .nav-stacked;
        }

        li {
          border-bottom: 8px solid;
          .h4;
        }

        .link-rights {
          border-color: @rights-color;
        }
        .link-choices {
          border-color: @choices-color;
        }
        .link-uses {
          border-color: @uses-color;
        }
        .link-responsibilities {
          border-color: @responsibilities-color;
        }
      }

      @media print {
        * {
          line-height: 16px!important;
        }

        h2,h3 {
          margin-bottom: 10px;
          margin-top: 10px;
        }

        dl {
          margin-bottom: 0px;
          padding-bottom: 10px;
        }

        ul {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      article {
        margin-bottom: 50px;
        @media print {
          & {
            margin-bottom: 25px;
          }
        }
        header {
          span {
            font-size: 1.6em;
            color: white;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            display: inline;
            padding: 10px;
            padding-bottom: 3px;
            @media (max-width: @screen-xs-max) {
              font-size: 1.2em;
            }
          }
        }
        section[data-role=contents] {
          border: 1px solid;
          padding: 10px;
          border-radius: 10px;
          border-top: 0;
          z-index: 99;
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          [data-ppn-collapsed-list] {
            .list-group-item-text {
              display: none;
            }

            @media print {
              .list-group-item-text {
                display: block;
              }
              [data-role=more-info] {
                display: none;
              }
            }

            .list-group-item {
              cursor: pointer;

              ul {
                list-style: none;
                padding-left: 10px;

                li:before {
                  font-family: 'FontAwesome';
                  content: "\f0da \0020";
                }

                li {
                  padding: 5px;
                }
              }
            }

          }
        }

        h2 {
          font-size: 1.4em;
        }

        i {
          .fa;
        }

        &[data-type=rights] {
          header.heading {
            span {
              background-color: @rights-color;
            }
            border-bottom: 1px solid @rights-color;
          }
          i {
            color: @rights-color;
          }
          section[data-role=contents] {
            border-color: @rights-color;
          }
        }
        &[data-type=choices] {
          header.heading {
            span {
              background-color: @choices-color;
            }
            border-bottom: 1px solid @choices-color;
          }
          i {
            color: @choices-color;
          }
          section[data-role=contents] {
            border-color: @choices-color;
          }
        }
        &[data-type=uses] {
          header.heading {
            span {
              background-color: @uses-color;
            }
            border-bottom: 1px solid @uses-color;
          }
          i {
            color: @uses-color;
          }
          section[data-role=contents] {
            border-color: @uses-color;
          }
        }
        &[data-type=responsibilities] {
          header.heading {
            span {
              background-color: @responsibilities-color;
            }
            border-bottom: 1px solid @responsibilities-color;
          }
          i {
            color: @uses-color;
          }
          section[data-role=contents] {
            border-color: @responsibilities-color;
          }
        }

        dl {
          dd {
            &[data-role=example] {
              margin-left: 20px;
              span {
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
}