<div class="jumbotron">
  <h1>Patient Privacy Notice</h1>
  <p class="lead">
    Please select the right option for your notice
  </p>
</div>

    <ul class="nav nav-tabs nav-justified">
        <li>
            <a class="" ng-href="#/ppn/provider/en">Provider (English)</a>
        </li>
        <li>
            <a class="" ng-href="#/ppn/healthplan/en">Health Plan (English)</a>
        </li>
        <li>
            <a class="" ng-href="#/ppn/provider/es">Médico (Español)</a>

        </li>
        <li>
            <a class="" ng-href="#/ppn/healthplan/es">Plan de Salud (Español)</a>

        </li>
    </ul>
