<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/">Home</a></li>
  </ul>
  <h3 class="text-muted">Patient Privacy Notice</h3>
</div>

<div class="jumbotron">
  <h1>Patient Privacy Notice</h1>
  <p class="lead">
    Please select the right option for your notice
  </p>
  <p>
      <a class="btn btn-lg btn-success pull-left" ng-href="#/ppn/provider/english">Provider (English)</a>
      <a class="btn btn-lg btn-success pull-right" ng-href="#/ppn/healthplan/english">Health Plan (English)</a>
  </p>
    <br/><br/>
  <p>
      <a class="btn btn-success pull-left" ng-href="#/ppn/provider/spanish">Provider (Spanish)</a>
      <a class="btn btn-success pull-right" ng-href="#/ppn/healthplan/spanish">Health Plan (Spanish)</a>
  </p>
    <br/>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the PatientPrivilege team, crafted in Portland, OR</p>
</div>
